@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@700&family=Libre+Franklin:wght@100&family=Poppins:wght@100;300;400;500;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

$blue: #0984e3;
$black: #333;
$white: #fff;
$gold: gold;
$light-color: #666;
$light-bg: #eee;
$border: .2rem solid $black;
$box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);

@mixin grid($val) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap: 2rem;
}

html {
    overflow-x: hidden;
    font-size: 62.5%;


    &::-webkit-scrollbar {
        width: 1rem;
    }

    &::-webkit-scrollbar-track {
        background: $light-bg;
    }

    &::-webkit-scrollbar-thumb {
        background: $blue;
        border-radius: 5rem;
    }
}

body {
    background: $light-bg;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: $blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 9%;

    .logo {
        font-size: 2.5rem;
        color: $white;
        font-weight: bolder;


        i {
            color: $gold;
        }
    }

    .search-form {
        border-radius: 5rem;
        height: 5rem;
        width: 50rem;
        padding: 0 2rem;
        display: flex;
        align-items: center;
        background: $white;


        input {
            width: 100%;
            padding-right: 1rem;
            font-size: 1.7rem;
            text-transform: none;
            color: $light-color;
        }

        label {
            font-size: 2rem;
            color: $light-color;
            cursor: pointer;

            &:hover {
                color: $blue;
            }
        }
    }

    .icons a,
    .icons div {
        font-size: 2.5rem;
        margin-left: 2rem;
        color: $white;
        cursor: pointer;

        &:hover {
            color: $gold;
        }
    }
}

#search-btn {
    display: none;
}